html, body {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    height: 100%
}

header {
    font-size: 3rem;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    width: 700px;
}

.game-area {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
}

.grid-square {
    border: 1px solid black;
    height: 100%;
    width: 100%;
}